html, body {
    height: 100%;
}

a {
    color: hotpink;
}

.height-max {
    height: 100%;
}

.uk-background-primary {
    background-color: #ffcce5;
}

.uk-card-default {
    background: #ffcce5;
}

.uk-text-white {
    color: white;
}

.uk-text-antiquewhite {
    color: antiquewhite;
}

.uk-section-palevioletred {
    background-color: palevioletred;
}

.uk-section-white {
    background-color: white;
}

.uk-copyright-color {
    background-color: #ffcce5;
}
